<IfModule mod_rewrite.c>
	Options FollowSymLinks
	RewriteEngine On
	#RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-s
	RewriteRule (.*) index.php/$1 [L]
#Redirect SSL diganti di hook ci3
#RewriteCond %{HTTPS} on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>
